{% comment %}

	This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
	Be sure to select page.contact as the template from the admin page to have this template take effect.

	For information on adding more fields, visit:
		- http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}


{% if settings.use_contact_info %}
	{% assign form_grid_class = 'large--two-thirds medium--one-whole' %}
{% else %}
	{% assign form_grid_class = 'large--one-whole medium--one-whole' %}
{% endif %}
<div class="page">
	<div class="wrapper">
		<div class="grid">
			
			<div class="contact-form-section1 contact-form grid-item {{ form_grid_class }}">
				<h3>{{ settings.contact_form_title }}</h3>
				{% form 'contact' %}

				{% comment %}
					Successful message
				{% endcomment %}
				{% if form.posted_successfully? %}
					<p class="note form-success">
					Thanks for contacting us! We'll get back to you as soon as possible.
					</p>
				{% endif %}

				{% include 'form-errors-custom' %}

				<div id="contactFormWrapper">
					<label for="contactFormName">Your Name</label>
					<input type="text" id="contactFormName" name="contact[name]" placeholder="" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

					<label for="contactFormEmail">Email</label>
					<input type="email" name="contact[email]" placeholder="" id="contactFormEmail" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
					<span class="error-msg error-email" style="display: none;">Please enter a valid email address</span>
					
					<label for="contactFormPhone">Phone Number</label>
					<input type="tel" name="contact[phone]" id="contactFormPhone" placeholder="" pattern="[0-9]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

					<label for="contactFormMessage">Message</label>
					<textarea rows="10" name="contact[body]" placeholder="" id="contactFormMessage">{% if form.body %}{{ form.body }}{% endif %}</textarea>
					<span class="error-msg error-message" style="display: none;">Please enter your message</span>
					
					<input id="contactFormSubmit" type="submit" class="btn right" value="SUBMIT">
				</div>

				{% endform %}
               <div class="large--one-whole map_top">
                  {% if settings.use_contact_map %}
                  <div id="map" style="width: 100%;height: {{ settings.map_height }}px;"></div>
                  {% endif %}
                  <div class="contact-content">
                      {{ page.content }}
                  </div>

                  {% comment %}
                      Contact form starts here
                  {% endcomment %}
              </div>
			</div>
			{% if settings.use_contact_info %}
			<div class="contact-form-section2 contact-info grid-item large--one-third medium--one-whole">
				<h3>{{ settings.contact_info_title }}</h3>
				<div class="contact-info">
					<ul>
						{% if settings.footer_contact_address != blank %}
						<li>
							<div class="global-table">
								<div class="global-row">
									<div class="global-cell" style="width: 50px;">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="global-cell">
										{{ settings.footer_contact_address }}
									</div>
								</div>
							</div>
						</li>
						{% endif %}
						{% if settings.footer_contact_phone1 != blank %}
						<li>
							<div class="global-table">
								<div class="global-row">
									<div class="global-cell" style="width: 50px;">
										<i class="fa fa-phone"></i>
									</div>
									<div class="global-cell">
										{{ settings.footer_contact_phone1 }}{% if settings.footer_contact_phone2 != blank %}<br />{{ settings.footer_contact_phone2 }}{% endif %}
									</div>
								</div>
							</div>
						</li>
						{% endif %}
						{% if settings.footer_contact_email1 != blank %}
						<li>
							<div class="global-table">
								<div class="global-row">
									<div class="global-cell" style="width: 50px;">
										<i class="fa fa-envelope-o"></i>
									</div>
									<div class="global-cell">
										{{ settings.footer_contact_email1 }}{% if settings.footer_contact_email2 != blank %}<br />{{ settings.footer_contact_email2 }}{% endif %}
									</div>
								</div>
							</div>
						</li>
						{% endif %}
						{% if settings.footer_contact_opentime != blank %}
						<li>
							<div class="global-table">
								<div class="global-row">
									<div class="global-cell" style="width: 50px;">
										<i class="fa  fa-clock-o"></i>
									</div>
									<div class="global-cell">
										{{ settings.footer_contact_opentime }}
									</div>
								</div>
							</div>
						</li>
						{% endif %}
					</ul>
				</div>
                <div class="grid-item medium--one-whole {{ footercolclass }} social_right">
                  <h3>{{ settings.footer_social_title }}</h3>

                  {% comment %}
                      Loop through the persistent theme settings and list out each social network link.
                  {% endcomment %}
                  <ul class="inline-list social-icons">
                    {% if settings.twitter_link != blank %}<li class="twitter"><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank"><i class="fa fa-twitter"></i><span class="social_right_title">Twitter</span></a></li>{% endif %}
                    {% if settings.facebook_link != blank %}<li class="facebook"><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank"><i class="fa fa-facebook"></i><span class="social_right_title">Facebook</span></a></li>{% endif %}
                    {% if settings.linkedin_link != blank %}<li class="linkedin"><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i><span class="social_right_title">LinkedIn</span></a></li>{% endif %}
                    {% if settings.pinterest_link != blank %}<li class="pinterest"><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank"><i class="fa fa-pinterest"></i><span class="social_right_title">Pinterest</span></a></li>{% endif %}
                    {% if settings.google_plus_link != blank %}<li class="google-plus"><a href="{{ settings.google_plus_link }}" title="{{ shop.name }} on Google+" target="_blank"><i class="fa fa-google-plus"></i><span class="social_right_title">Google+</span></a></li>{% endif %}
                    {% if settings.instagram_link != blank %}<li class="instagram"><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank"><i class="fa fa-instagram"></i><span class="social_right_title">Instagram</span></a></li>{% endif %}
                    {% if settings.tumblr_link != blank %}<li class="tumblr"><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank"><i class="fa fa-tumblr"></i><span class="social_right_title">Tumblr</span></a></li>{% endif %}
                    {% if settings.youtube_link != blank %}<li class="youtube"><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" target="_blank"><i class="fa fa-youtube"></i><span class="social_right_title">YouTube</span></a></li>{% endif %}
                    {% if settings.vimeo_link != blank %}<li class="vimeo"><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i><span class="social_right_title">Vimeo</span></a></li>{% endif %}
                  </ul>
              </div>
			</div>
			{% endif %}
            
		</div>
	</div>
</div>
{{ 'contact-us.js' | asset_url | script_tag }}
{% if settings.use_contact_map %}
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	{{ 'jquery.gmap.js' | asset_url | script_tag }}
	<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#map').gMap({
			scrollwheel: true,
			zoom: {{ settings.map_zoom }},
			{% if settings.marker_type =='address' %}
			address: "{{ settings.map_address }}",
			{% endif %}
			markers:[
				{% if settings.marker_type =='coordinate' %}
				{
					latitude: {{ settings.marker_latitude }},
					longitude: {{ settings.marker_longtitude }},
					html: "{{ settings.marker_desc }}"
				}
				{% else %}
				{
					address: "{{ settings.map_address }}",
					html: "{{ settings.marker_desc }}",
					popup: true
				}
				{% endif %}
			]
		});
	});
	</script>
	<style>
		.gm-style img { max-width: none; }
		.gm-style label { width: auto; display: inline; }
        
      @media screen and (max-width:767px){ .grid {margin: 0 auto; } .large--one-third{width: 100%;} } @media screen and (min-width:768px) and (max-width:1023px) {.page{padding-left: 20px;} .large--one-third{width: 100%;} }
         
	</style>
{% endif %}