<section class="section_D">
  <div class="wrapper">
    
    <div class="grid--full text-center"><h2>Advanced Features</h2></div>
    <hr class="hr--clear hr--small">

       <div class="grid--full">
         <div class="grid__item large--one-third medium--one-whole small--one-whole">
           <div class="grid--full">
             <div class="grid__item large--one-whole medium--one-half small--one-whole">
               <div class="grid__item two-eighths text-center">
                 <img src="{{ 'section_4_1.png' | asset_url }}">
               </div>
               <div class="grid__item six-eighths">
                 <h4>Alarm Siren</h4>
                 <p>Configurable audible siren<br/>
                   90dB estimated SPL<br/>
                   Operates on battery backup</p>
               </div>
             </div>
             <div class="grid__item large--one-whole medium--one-half small--one-whole">
               <div class="grid__item two-eighths text-center">
                 <img src="{{ 'section_4_2.png' | asset_url }}">
               </div>
               <div class="grid__item six-eighths">
                 <h4>Battery Backup</h4>
                 <p>Lithium Polymer Ion Battery<br/>
                   Up to 6 hour backup<br/>
                   Integrated recharging</p>
               </div>
             </div>
           </div>
         </div>
         
         <div class="grid__item large--one-third medium--one-whole small--one-whole text-center">
              <img src="{{ 'section_4.png' | asset_url }}">
         </div>
         
         <div class="grid__item large--one-third medium--one-whole small--one-whole">
           <div class="grid--full">
            <div class="grid__item large--one-whole medium--one-half small--one-whole">
              <div class="grid__item two-eighths text-center">
                <img src="{{ 'section_4_3.png' | asset_url }}">
              </div>
              <div class="grid__item six-eighths">
                <h4>Wi-Fi</h4>
                <p>IOT smart Wi-Fi device<br/>
                  Easy WSP or Hotspot setup<br/>
                  Avoid costly cellular fees</p>
              </div>
            </div>
            <div class="grid__item large--one-whole medium--one-half small--one-whole">
              <div class="grid__item two-eighths text-center">
                <img src="{{ 'section_4_4.png' | asset_url }}">
              </div>
              <div class="grid__item six-eighths">
                <h4>Cloud Monitor</h4>
                <p>Check-in based watchdog<br/>
                  Programmable sample interval<br/>
                  99.8% cloud uptime</p>
              </div>
            </div>
           </div>             
         </div>
    </div>

  </div>
</section>