<section class="section_C" id="Level-Sense-Pro-System-Monitors">
  <div class="wrapper">
    
    <div class="grid--full text-center"><h2>Level Sense Pro System Monitors</h2></div>
     <hr class="hr--clear hr--small">

       <div class="grid-uniform">
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_1.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Float Switch</h4>
              <p>Detect sump pump failure<br/>
                Set defined water level alarm<br/>
                Includes quick mount bracket</p>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_2.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Temperature</h4>
              <p>Protection from freezing pipes<br/>
                Set a safe temperature range<br/>
                Integrated sensor inside control</p>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_3.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Humidity</h4>
              <p>Avoid mold prone conditions<br/>
                Set a safe humidity range<br/>
                Integrated sensor inside control</p>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_4.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Power Failure</h4>
              <p>Outlet power monitoring<br/>
                Avoid costly property damage<br/>
                Uses Cloud check-in monitoring</p>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_5.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Water Level</h4>
              <p>View pump run frequency<br/>
                Determine incoming water rate<br/>
                Optional - Not used for alarms</p>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_3_6.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Leak Detection</h4>
              <p>Alarm before a flood<br/>
                Detects pooling water<br/>
                Senses water as low as 1/8"</p>
            </div>
          </div>
    </div>

  </div>
</section>