<section class="section_B">
  <div class="wrapper">
    <div class="grid--full text-center"><h2>Online Monitoring Portal</h2></div>
    <hr class="hr--clear hr--small">
    <div class="grid">
      
    	<div class="grid__item large--seven-twelfths medium--three-fifths small--one-whole">
           <img src="{{ 'section_2.png' | asset_url }}">
    	</div>
      
    	<div class="grid__item large--two-fifths medium--two-fifths small--nine-tenths small--right">
          
          <div class="grid padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_2_1.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <p>Setup alerts to deliver<br/>to unlimited devices.</p>
              <p>Great for families.</p>
            </div>
          </div>
          <div class="grid padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_2_2.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <p>Link multiple devices<br/>to a central account.</p>
              <p>Great for landlords.</p>
            </div>
          </div>
          <div class="grid padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_2_3.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <p>Graphed historical sensor<br/>data back one week.</p>
              <p>Great for monitoring.</p>
            </div>
          </div>
          <div class="grid padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_2_4.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <p>Configurable alarm levels<br/> and alarm outputs.</p>
              <p>Market leading flexibility.</p>
            </div>
          </div>
          
    	</div>
    </div>
  </div>
</section>