<section class="section_G">
  <div class="wrapper">
    
    <div class="grid--full text-center"><h2>What’s In The Box</h2></div>
      <hr class="hr--clear hr--small">

       <div class="grid-uniform">
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_1.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Level Sense Pro</h4>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_2.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>User Manual</h4>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_3.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>12V Power Adapter</h4>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_4.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Water Level Sensor</h4>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_5.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Floor Leak Sensor</h4>
            </div>
          </div>
          <div class="grid__item large--one-third medium--one-half small--one-whole padding_bottom">
            <div class="grid__item two-eighths text-center">
              <img src="{{ 'section_7_6.png' | asset_url }}">
            </div>
            <div class="grid__item six-eighths">
              <h4>Float Switch and Bracket</h4>
            </div>
          </div>
    </div>

  </div>
</section>