<div class="grid">
  <div class="grid__item wide--one-third large--one-half small--text-center">

    {% comment %}
      This form must use 'reset_customer_password'
    {% endcomment %}
    <div class="reset_customer_password" id="ResetPasswordOtp">
    {% form 'reset_customer_password' %}

      <div class="section-header">
        <h1 class="section-header__title">{{ 'customer.reset_password.title' | t }}</h1>
      </div>

      <p class="email" id="get_resend_otp_email" value="{{email}}">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {{ form.errors | default_errors }}
      
      <label for="otp">OTP</label>
	  <input type="number" id="otp" name="customer[otp]" placeholder="Enter 6 digit opt recieved in your email">

      <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>

      <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

      <p>
        <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
          
      </p>

    {% endform %}
      
      <a href="" id="resend_otp" class="btn resend-otp" data-email="{{email}}"><p>Resend OPT</p></a>
         
      </div>

  </div>
</div>

{{ 'customer_login.js' |  asset_url | script_tag }}

<script type="text/javascript">
//   function RedirectToLoginForm(){
//     window.location = "/account"; 
//   }
 
</script>
